*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    font-size: 16px;
    font-family: sans-serif,arial;
}

.nav{
    width: 1100px;
    height: 60px;
    margin: 0 auto;
    border-radius: 5px;

}
.menu{
    display: block;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(black,cyan);
    visibility: hidden}
.github{
    text-decoration: none;
    color: white;
    width: 200px;
    line-height: 60px;
    position: relative;
    box-shadow: 0px 2px 5px 0px grey;
    text-align: center;
    float: right;

    background-image: linear-gradient(black,orange);
    font-size: 20px;
    font-weight: bold;

}
.github:hover{
    font-weight: bold;
    background-image: none;
    background-color: darkorange;
    border-bottom: 2px solid white;
    font-size: 25px;
    transition: font-size 200ms;
}

.menu_list{
    list-style: none;
    font-weight: bold;
    width: 200px;
    line-height: 60px;
    position: relative;
    box-shadow: 0px 2px 5px 0px grey;
    text-align: center;
    float: left;
    background-image: linear-gradient(black,cyan);
}
.menu_list a{
    color: #fff;
    width: 200px;
    height: 58px;
    display: inline-block;
    text-decoration: none;
}
.menu_list:hover .menu_drop{
    display: block;
    background-color: transparent;

}
.menu_list a:hover{
    font-weight: bold;
    background-color: seagreen;
    border-bottom: 2px solid yellow;
    font-size: 20px;
    transition: font-size 200ms;
}
.menu_drop{
display: none;
}
.nav {
    display: none;
    width: 100%;
    height: auto;
}



.start_button{
    position: absolute;
    background-color: orange;
    width:200px;
    height:200px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 100%;
}
#start_button{
    position: absolute;
    color: aliceblue;
    z-index: 100;
    font-size: 2.5em;
    position: center;
    width:80%;
}
.start{
    position: absolute;
    background-image: linear-gradient(red,yellow);
    width:170px;
    height:170px;
    left: 50%;
    top: 50%;
    margin-left: -85px;
    margin-top: -85px;
    border-radius: 100%;
    font-size: 2.5em;
    border-color: cadetblue;
}
.initialize{
    background-color: cyan;
    border: 100px;
    transform: scale(0) translateY(1000px);
    transition: transform 500ms linear;

    will-change: transform;

}
.paint{
    opacity:0;
    background-image: url("/sorces/790278-download-free-hex-grid-wallpaper-1920x1080.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: 400ms opacity;
}

.enable{
    visibility: visible;
    opacity: 1;
    transition: opacity 2s;
}


